* {
    margin: 0;
}

.header {
    background-color: #ff6347;
    height: 50px;
}

.header a {
    margin: 10px;
    font-size: 20px;
}

.home {
    background-color: dodgerblue;
    height: 200px;
}

.page {
    background-color: dodgerblue;
    height: 200px;
    color: white;
}

.footer {
    background-color: #939697;
}